body{
    margin: 0 auto;
 }
 
 body > div{
    font-family:sans-serif;
  /*  margin-left: 0%;*/
    margin-right: 0%;
  /*  margin-top: 1em;*/
    margin-bottom:1em;
 }
 
 #header {
     margin:0;
 }
 
 #header2 {
     margin:0;
 }
 
 #nav {
     /*text-align: right; */
     width: 80%;
     margin: 0;
 }
 
 #logo {
     text-align: left;
     background-color: blue;
     width:20%;
 }
 
 #menu {
     text-align: right;
     background-color: orange;
     width:50%;
     position:absolute;
     top: 2em;
     right:5em;
 }
 
 #btn {
     text-align: left;
     background-color:green;
     width:30%;
     position: absolute;
     top:2em;
     right:1em;
 }
 
 #login {
     
     margin-right:0.5em;
 }
 
 #course {
     
     margin-right:0.5em;
 }
 
 
 ul li{
    display: inline-block;
    margin-left:0.5em;
     text-align: center;
     list-style: none;
     text-decoration: none;
 }
 
 li a{
     text-decoration: none;
     color: #000000;
 }
 
 #container div {
    /* margin-left: 0;*/
     margin-right: 0%;
    /* margin-top: 1em;*/
     margin-bottom:1em;
 }
 
 #top {
     background-color: blueviolet;
     height:25em;
 }
 
 #main {
     background-color: pink;
     max-height:30em;
     min-height:30em;
   /*  margin: 0 auto;*/
   padding: 6% 6%;
   padding-bottom:2%;
 
 }
 
 #main div  {
    /* background-color: rgba(0,0,0,.5);
    height:17.44em;
     display:inline-block;
     width:17.44em; 
     margin-right: 1%;*/
 }
 
 .yesno {
     height:25em;
     display:inline-block;
     width:17.44em; 
     margin-left: 1%;
 }
 
 .no {
     text-align: center;
     margin-right:2%;
   /*  margin-left: 2%;*/
 }
 
 .yes {
     background-color: rgba(54, 155, 116, 0.5);
     height:17.44em;
     display:inline-block;
     width:17.44em;
   /*  margin-left: 2%;*/
 }
 
 #main2 {
     background-color: pink;
     max-height:30em;
     min-height:30em;
   /*  margin: 0 auto;*/
   padding: 0% 6%;
   padding-bottom:6%;
 
 }
 
 #main2 div {
    /* background-color: rgba(0,0,0,.5);
     height:17.44em;
     display:inline-block;
     width:17.44em;
     margin-right: 1%;*/
 }
 
 #bottom {
     background-color: grey;
     height:35em;
     color : white;
 }
 
 .bot {
     text-align:center;
     padding:1%;
 }
 
 h1,h3,h4 {
     margin: 2em;
 }
 
 button {
     border-color:white;
     border-style:1em;
     background-color: rgba(0,0,0,0.05);
     color:white;
     margin-top:-1em;
     width: 16em;
     height:4em;
 }
 
 .dot {
     height:150px;
     width: 150px;
     background-color:#bbb;
     border-radius:50%;
     display:inline-block;
 }
 
 .dot2 {
     height:140px;
     width: 140px;
     background-color:rgba(0,0,0,.5);
     border-radius:50%;
     display:inline-block;
     /*position:absolute;
      position:relative;
      left:10em;*/
 }
 
 .dots2 {
     margin-top:-9em;
 }
 
 /*.quote-wrapper {
     height:300px;
     position: relative;
     width: 300px;
 }*/
 
 
 
 #footer {
     background-color: blue;
     height:20em;
 }
 
 #footer1 {
     background-color:black;
     height:5em;
 }